*{
  margin: 0px;
  padding: 0px;
}
header{
  background-color: #FFF;
  height: 50px;
}
body{
  background-color: #F5F5F5;
  position: relative;
  width:100%;
  overflow-x:hidden;
}
#title{
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
  font-family: Osaka;
  position: relative;
  top: 12px;
  left: 20px;
}
#link1{
  color: #000000;
  text-decoration: none;
  font-size: 12px;
  font-family: sans-serif;
  position: relative;
  top: 12px;
  left: 960px;
}
#link2{
  color: #000000;
  text-decoration: none;
  font-size: 12px;
  font-family: sans-serif;
  position: relative;
  top: 12px;
  left: 980px;
}
#artistname{
  color: #000000;
  text-decoration: none;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: 600;
  position: relative;
  top: 20px;
  left: 40px;
}
#artistname:hover {
  text-decoration: underline;
}
.link{
  color: #888888;
  text-decoration: none;
  font-size: 13px;
  font-family: sans-serif;
  position: relative;
  top: 20px;
  left: 40px;
}
.link:hover{
  text-decoration: underline;
}
